/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'Roboto', sans-serif;
}

footer {
  position: fixed;
  height: 30px;
  bottom: 0;
  width: 100%;
  border-top: solid lightgray 1px;
}

.toshow {
  display: none !important;
}

.log-message {
  font-family: 'Fira Code', monospace;
  text-align: left;
  margin-bottom: 5px;
  -webkit-animation: textpopup 1.5s;
  animation: textpopup 1.5s;
}

.log-message::before {
  content: "> ";
}

/*Id Styling*/
#log {
  user-select: none;
  -webkit-user-select: none;
  min-height: 500px;
  overflow: hidden;
  max-height: 85vh;
}

#log-gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: white;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
  filter: alpha(Opacity=0, FinishOpacity=100, Style=1, StartX=0, StartY=0, FinishX=0, FinishY=500);
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #FFF;
  z-index: 9999;
}

/*Animations*/
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes textpopup {
  from {
    opacity: 0;
    transform: translate3d(0px, 50px, 0px);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes textpopup {
  from {
    opacity: 0;
    transform: translate3d(0px, 50px, 0px);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
